body{margin: 2em auto;max-width:80ch;color:#444;font-family:sans-serif;line-height: 1.5;}
a{color: #337; text-decoration:none}
a:hover{color: #00f; text-decoration:underline}
h1,h2,h3{color: #333;margin: 1em 0 0 0}
h4{color: #333;margin: 0}
pre{background: #eee;padding: 1em;}
article header nav {font-size: 80%;margin: 0}
article header nav a {font-size: 80%;margin: 0}
article {border: 1px solid #ccc;margin: 0.5em; padding: 0.2em 0.5em;}
article footer {text-align: right}
input{ height: 1em;}
input,textarea,select {width: 75%;}
label {width: 20%; display: inline-block; vertical-align: top;}
nav a {margin-right: 2em}
section > header nav {margin-bottom: 2em; border-bottom: 1px solid #ccc;}
section > footer nav {margin-top: 2em; border-top: 1px solid #ccc;}
.flash{width: 75%; background-color: #eef; padding: 1em;margin: 0 auto;border-radius: 5px;}
.flash:focus {display: none;}
.error{width: 75%; background-color: #fee; padding: 1em;margin: 0 auto;}
article[data-state=read] {border-style: dashed}
article[data-state=read] a[data-action=mark_read]:before{content: "✔︎ Read";}
article[data-state=unread] a[data-action=mark_read]:before{content: "✘ Unread";}
article[data-starred=star] a[data-action=mark_star]:before{content: "★ Starred"; font-weight: bold}
article[data-starred=unstar] a[data-action=mark_star]:before{content: "☆ Star";}
article[data-starred=star] {border-color: red; border-width: 2px;}
.group-tag{background-color: #ff9;border: 1px solid black; font-size: 70%; padding: 0.2em 0.5em;margin-left:1em; float: right;border-radius: 4px;}
