{% macro render_entry(entry) -%}
	<article data-state="{% if entry.read_mark %}read{% else %}unread{% endif %}" data-entry-id="{{ entry.id }}"
			data-starred="{% if entry.star_mark %}star{% else %}unstar{% endif %}">
		<header>
			<h4><a href="{{ entry.url or url_for("browser.entry", entry_id=entry.id) }}">{{ entry.human_title() }}</a>
				{% if entry.source.group %}<a class="group-tag" href="{{ url_for("browser.group_entries", group_id=entry.source.group_id) }}">{{ entry.source.group.name }}</a>{% endif %}
			</h4>
			<nav>
				<a href="{{ url_for('browser.source_entries', source_id=entry.source_id) }}">{{ entry.source.name }}</a>
				| &#9716; <time>{{ entry.updated|age }}</time>
				| <a href="#" data-action="mark_read"></a>
				| <a href="#" data-action="mark_star"></a>
			</nav>
		</header>
		<!-- {{ entry }} -->
	  <!--
{{ entry.content }}
 -->
		{% if entry.content %}
			{% if entry.get_opt('preformated') %}
			<pre>{{ entry.content|safe }}</pre>
			{% else %}
			{{ entry.content|format_body|safe }}
			{% endif %}
		{% endif %}
	</article>
{%- endmacro %}
