{% extends 'base.html' %}
{% import '_render_source.html' as rs %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}Sources in group {{ group.name }} ({{ sources|length}}){% endblock %}</h1>
	<nav>
		<a href="{{ url_for("browser.refresh_group", group_id=group.id)}}">Refresh group</a>
		<a href="{{ url_for("browser.source_new")}}">New source</a>
	</nav>
{% endblock %}

{% block content %}
	{% for source in sources %}
		{{ rs.render_source(source) }}
	{% endfor %}
{% endblock %}

  </body>
</html>
