{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
{% import 'system/_sett_nav.html' as sn %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}{{ _("Settings") }}{% endblock %}</h1>
  {{ sn.render_header() }}
{% endblock %}

{% block content %}
	<h2>{{ _("Export data") }}</h2>
	<p><a href="{{ url_for('system.sett_data_export') }}">{{ _("Download sources and groups") }}</a></p>
	<p><a href="{{ url_for('system.sett_data_export_opml') }}">{{ _("Download OPML file") }}</a></p>

	<h2>{{ _("Import data") }}</h3>
	<h3>{{ _("Import Webmon2 dump") }}</h3>
	<form action="{{ url_for('system.sett_data_import') }}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<p>
			<label>{{ _("File:") }} </label>
			<input type="file" name="file" />
			<button type="submit">{{ _("Import") }}</button>
		</p>
	</form>

	<h3>{{ _("Import OPML") }}</h3>
	<form action="{{ url_for('system.sett_data_import_opml') }}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<p>
			<label>{{ _("File:") }} </label>
			<input type="file" name="file" />
			<button type="submit">{{ _("Import") }}</button>
		</p>
	</form>

	<h2>{{ _("Data manipulation") }}</h2>
	<ul>
		<li><a href="{{ url_for("system.sett_data_mark_all_read") }}">{{ _("Mark read all entries") }}</a></li>
		<li><a href="{{ url_for("system.sett_data_mark_all_old_read") }}">{{ _("Mark read all entries fetched before today") }}</a></li>
	</ul>
	<h4>
{% endblock %}

  </body>
</html>
