{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
{% import 'system/_sett_nav.html' as sn %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
  {{ sn.render_header() }}
{% endblock %}

{% block content %}
	<h2>Default and global settings</h2>
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		{% for field in form.fields %}
			{{ rf.render_field(field) }}
		{% endfor %}
		<button type="submit">Save</button>
	</form>
{% endblock %}

  </body>
</html>
