{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
{% import 'system/_sett_nav.html' as sn %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}{{ _("Settings") }}{% endblock %}</h1>
	{{ sn.render_header() }}
{% endblock %}

{% block content %}
	<h2>{{ _("Default and global settings") }}</h2>
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<div class="form-wrapper">
			{% for field in form.fields %}
				{{ rf.render_field(field) }}
			{% endfor %}
		</div>
		<div class="row2">
			&nbsp;
			<button class="right" type="submit">{{ _("Save") }}</button>
		</div>
	</form>
{% endblock %}

  </body>
</html>
