{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
{% import 'system/_sett_nav.html' as sn %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
  {{ sn.render_header() }}
{% endblock %}

{% block content %}
	<h2>User TOTP</h2>
	<h3>Secret</h3>
	<p>Secret: <code>{{ totp }}</code></p>
	<p><img id="qrcode" src="{{ url_for('system.sys_qrcode', url=otp_url) }}"></p>
	<h3>Confirmation</h3>
	<form method="POST" autocomplete="new-password">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<div class="form-wrapper">
			<label>Code:</label>
			<input type="number" name="totp" required="required" maxlength="6" max="999999"/>
		</div>
		<div class="row2">
			&nbsp;
			<button class="right" type="submit">Setup TOTP</button>
		</div>
	</form>

{% endblock %}

  </body>
</html>
