{% macro render_entry(entry, mode, onlist, openlink=None) -%}
	<article data-state="{% if entry.read_mark %}read{% else %}unread{% endif %}" data-entry-id="{{ entry.id }}"
			data-starred="{% if entry.star_mark %}star{% else %}unstar{% endif %}">
		<header>
			<h4>
				{% if onlist %}
					{% if openlink %}
					<a href="{{ openlink }}" target="_blank">{{ entry.human_title() }}</a>
					{% else %}
					<a href="{{ url_for("entry.entry", entry_id=entry.id) }}" target="_blank">{{ entry.human_title() }}</a>
					{% endif %}
				{% else %}
					{% if entry.url %}
						<a href="{{ entry.url }}" target="_blank">{{ entry.human_title() }}</a>
					{% else %}
						{{ entry.human_title() }}
					{% endif %}
				{% endif %}
				{% if entry.source.group %}<a class="group-tag" href="{{ url_for("group.group_entries", group_id=entry.source.group_id) }}">{{ entry.source.group.name }}</a>{% endif %}
			</h4>
			<nav>
				<a href="{{ url_for('source.source_entries', source_id=entry.source_id) }}">{{ entry.source.name }}</a>
				| &#9716; <time>{{ entry.updated|age }}</time>
				| <a href="#" data-action="mark_read"></a>
				| <a href="#" data-action="mark_star"></a>
				{% if entry.url %}
					| <a href="{{ entry.url }}">Original content</a>
				{% endif %}
			</nav>
		</header>
 		{% if entry.is_long_content() and mode == 'summary' %}
			{% if entry.get_opt('content-type') == 'html' %}
				{{ entry.get_summary()|safe }}
			{% elif entry.get_opt('content-type') == 'preformated' %}
				<pre>{{ entry.get_summary() }}</pre>
			{% elif entry.get_opt('content-type') == 'safe' %}
				{{ entry.get_summary()|safe }}
			{% else %}
				{{ entry.get_summary()|format_markdown|safe }}
			{% endif %}
			<footer><a href="{{ url_for("entry.entry", entry_id=entry.id) }}">Read more…</a><footer>
		{% elif entry.content %}
			{% if entry.get_opt('content-type') == 'html' %}
				{{ entry.content|safe }}
			{% elif entry.get_opt('content-type') == 'preformated' %}
				<pre>{{ entry.content }}</pre>
			{% elif entry.get_opt('content-type') == 'safe' %}
				{{ entry.content|safe }}
			{% else %}
				{{ entry.content|format_markdown|safe }}
			{% endif %}
		{% endif %}
	</article>
{%- endmacro %}
