{% macro render_entry(entry, mode, onlist, openlink=None) -%}
	<article data-state="{% if entry.read_mark %}read{% else %}unread{% endif %}" data-entry-id="{{ entry.id }}"
			data-starred="{% if entry.star_mark %}star{% else %}unstar{% endif %}">
		<!-- {{ entry.score }} -->
		<header>
			{% if entry.icon %}
			<img src="{{ url_for("root.binary", datahash=entry.icon )}}" width="32" height="32"/>
			{% endif %}
			{% if entry.score < -5 %}
				{% set priority_cls = "prio-lowest" %}
			{% elif entry.score < 0 %}
				{% set priority_cls = "prio-low" %}
			{% elif entry.score > 5 %}
				{% set priority_cls = "prio-highest" %}
			{% elif entry.score > 0 %}
				{% set priority_cls = "prio-high" %}
			{% else %}
				{% set priority_cls = "" %}
			{% endif %}
			<h4 class="{{ priority_cls }}">
				{% if onlist %}
					{% if openlink %}
					<a href="{{ openlink }}" class="title">{{ entry.human_title() }}</a>
					{% else %}
					<a href="{{ url_for("entry.entry", entry_id=entry.id) }}" class="title">{{ entry.human_title() }}</a>
					{% endif %}
				{% else %}
					{% if entry.url %}
						<a href="{{ entry.url }}" class="title">{{ entry.human_title() }}</a>
					{% else %}
						<p class="title">{{ entry.human_title() }}</p>
					{% endif %}
				{% endif %}
				{% if entry.source.group %}<a class="group-tag" href="{{ url_for("group.group_entries", group_id=entry.source.group_id) }}">{{ entry.source.group.name }}</a>{% endif %}
			</h4>
			<div class="actions">
				<a href="{{ url_for('source.source_entries', source_id=entry.source_id) }}">{{ entry.source.name }}</a>
				| &#9716;<time title="{{ entry.updated }}">{{ entry.updated|age }}</time>
				| <a href="#" data-action="mark_read"></a>
				| <a href="#" data-action="mark_star"></a>
				{% if entry.url %}
					| <a href="{{ entry.url }}">Original content</a>
				{% endif %}
			</div>
		</header>
		{% set content_type = entry.get_opt('content-type') %}
 		{% if entry.is_long_content() and mode == 'summary' %}
			<section>
				{{ entry.get_summary()|cleanup_html|safe }}
			</section>
			<footer><a href="{{ url_for("entry.entry", entry_id=entry.id) }}">Read more…</a><footer>
		{% elif entry.content %}
			<section>
			{% if content_type == 'markdown' %}
				{{ entry.content|format_markdown|safe }}
			{% elif content_type == 'preformated' %}
				<pre>{{ entry.content }}</pre>
			{% elif content_type == 'safe' %}
				{{ entry.content|safe }}
			{% elif content_type == 'plain' %}
				{{ entry.content }}
			{% else %}
				{{ entry.get_summary()|cleanup_html|safe }}
			{% endif %}
			</section>
		{% endif %}
	</article>
{%- endmacro %}
