{% macro render_entres_nav(page, last_page, url_prev, url_next, url_first, url_last) -%}
	<nav class="row3">
		<span class="left">
			{% if last_page > 0 and page > 0 %}
				<a href="{{ url_first }}">⇤ First page</a>
			{% endif %}
			{% if page > 1 %}
				<a href="{{ url_prev }}">← Prev page</a>
			{% endif %}
		</span>
		<span>Page {{ page + 1 }} / {{ last_page + 1}}</span>
		<span class="right">
			{% if page < last_page - 1 %}
				<a href="{{ url_next }}">Next page →</a>
			{% endif %}
			{% if last_page > 0 and page < last_page %}
				<a href="{{ url_last }}">Last page ⇥</a>
			{% endif %}
		</span>
	</nav>
{%- endmacro %}
