{% macro render_source(source) -%}
	<article>
		<header>
			{% if source.state.icon %}
			<img src="{{ url_for("root.binary", datahash=source.state.icon )}}" width="32" height="32" />
			{% elif source.state.state and source.state.state.get('icon') %}
			<img src="{{ url_for("root.binary", datahash=source.state.state.get('icon') )}}" width="32" height="32" />
			{% endif %}
			<h4>
				<a href="{{ url_for('source.source_entries', source_id=source.id) }}">{{ source.name }}</a>
				{% if source.unread %}({{ source.unread }}){% endif %}
				{% if source.group %} <a class="group-tag" href="{{ url_for("group.group_entries", group_id=source.group_id) }}">{{ source.group.name }}</a>{% endif %}
			</h4>
			<nav>
				&#9716; <time>{{ source.state.last_update|age }}</time>
				| <a href="{{ url_for('source.source_refresh', source_id=source.id, back=request.url) }}">↺ Refresh</a>
				| <a href="{{ url_for('source.source_mark_read', source_id=source.id) }}">✔︎ Mark read</a>
				| <a href="{{ url_for('source.source_edit', source_id=source.id) }}">✎ Edit</a>
				| <span><a href="{{ url_for('source.source_delete', source_id=source.id, back=request.url) }}" data-req-confirm="yes" data-question="Realy delete source?">✘ Delete</a></span>
			</nav>
			{% if source.status == 0 %}
				<p class="error">Need configure</p>
			{% elif source.status == 2 %}
				<p class="warn">Disabled</p>
			{% else %}
				{% if source.state.status == 'error' %}
				<p class="error">Error: {{ source.state.error}}</br>at {{ source.state.last_update | format_date }}<br/>times: {{ source.state.error_counter}}</p>
				{% endif %}
			{% endif %}
			{% if source.state.state %}
				{% if source.state.state.get('info') %}
					<p>{{ source.state.state.get('info') }}</p>
				{% endif %}
				{% if source.state.state.get('last entry date') %}
					<p>Last entry: {{ source.state.state.get('last entry date') }}</p>
				{% endif %}
				{% if source.state.state.get('expires') %}
					<p>Expires: {{ source.state.state.get('expires') }}</p>
				{% endif %}
			{% endif %}
			<p>
				Last update: {{ source.state.last_update | format_date }}
				&nbsp;&nbsp;
				Next: {{ source.state.next_update | format_date }}<br/>
				Success updates: {{ source.state.success_counter }}
			</p>
		</header>
	</article>
{%- endmacro %}
