
{% macro render_source(source, webmon2) -%}
	<article>
		<header>
			{% if source.state.icon %}
			<img src="{{ url_for("root.binary", datahash=source.state.icon )}}" width="32" height="32" />
			{% elif source.state.get_prop('icon') %}
			<img src="{{ url_for("root.binary", datahash=source.state.props['icon'] )}}" width="32" height="32" />
			{% endif %}
			<h4>
				<a href="{{ url_for('source.source_entries', source_id=source.id) }}">{{ source.name }}</a>
				{% if source.unread %}({{ source.unread }}){% endif %}
				{% if source.group %} <a class="group-tag" href="{{ url_for("group.group_entries", group_id=source.group_id) }}">{{ source.group.name }}</a>{% endif %}
			</h4>
			<div class="actions">
				{% if source.state.last_update %}
					&#9716; <time>{{ source.state.last_update|age }}</time>
				{% else %}
					<b>not updated</b>
				{% endif %}
				| <a href="{{ url_for('source.source_refresh', source_id=source.id, back=request.url) }}">↺ Refresh</a>
				| <a href="{{ url_for('source.source_mark_read', source_id=source.id) }}">✔︎ Mark read</a>
				| <a href="{{ url_for('source.source_edit', source_id=source.id) }}">✎ Edit</a>
				| <span><a href="{{ url_for('source.source_delete', source_id=source.id, back=request.url) }}" data-req-confirm="yes" data-question="Really delete source?">✘ Delete</a></span>
			</div>
			{% if source.status == webmon2.model.SourceStatus.NOT_ACTIVATED %}
				<p class="error-inl">Need configure &amp; activate.</p>
			{% elif source.status == webmon2.model.SourceStatus.DISABLED %}
				<p class="warn-inl">💤 Disabled</p>
			{% else %}
				{% if source.state.status == webmon2.model.SourceStateStatus.ERROR %}
				<p><span class="error-inl">Error:</span><br/>
					<i>{{ source.state.error | summary('plain') }}</br>
					at {{ source.state.last_update | format_date }}</i><br/>
					Times: {{ source.state.error_counter}}</p>
				{% endif %}
			{% endif %}
			{% if source.state.get_prop('info') %}
				<p>{{ source.state.props['info'] }}</p>
			{% endif %}
			{% if source.state.get_prop('last entry date') %}
				<p>Last entry: {{ source.state.props['last entry date'] }}</p>
			{% endif %}
			<p>
				Last update: {{ source.state.last_update | format_date }}
				&nbsp;&nbsp;
				Next: {{ source.state.next_update | format_date }}<br/>
				Successful updates: {{ source.state.success_counter }}
			</p>
		</header>
	</article>
{%- endmacro %}
