{% macro render_entry(entry, mode, onlist, webmon2, openlink=None) -%}
	<article data-state="{% if entry.read_mark %}read{% else %}unread{% endif %}" data-entry-id="{{ entry.id }}"
			data-starred="{% if entry.star_mark %}star{% else %}unstar{% endif %}">
		<!-- {{ entry.score }} -->
		<header>
			{% if entry.icon %}
			<img src="{{ url_for("root.binary", datahash=entry.icon )}}" width="32" height="32"/>
			{% endif %}
			<h4 class="{{ entry.score | entry_score_class }}">
				{% if onlist %}
					{% if openlink %}
					<a href="{{ openlink }}" class="title">{{ entry.human_title() }}</a>
					{% else %}
					<a href="{{ url_for("entry.entry", entry_id=entry.id) }}" class="title">{{ entry.human_title() }}</a>
					{% endif %}
				{% else %}
					{% if entry.url %}
						<a href="{{ entry.url }}" class="title">{{ entry.human_title() }}</a>
					{% else %}
						<p class="title">{{ entry.human_title() }}</p>
					{% endif %}
				{% endif %}
				{% if entry.source.group %}<a class="group-tag" href="{{ url_for("group.group_entries", group_id=entry.source.group_id) }}">{{ entry.source.group.name }}</a>{% endif %}
			</h4>
			<div class="actions">
				<a href="{{ url_for('source.source_entries', source_id=entry.source_id) }}">{{ entry.source.name }}</a>
				| &#9716; <time title="{{ entry.updated | format_date }}">{{ entry.updated|age }}</time>
				| <a href="#" data-action="mark_read">{% if entry.read_mark == webmon2.model.EntryReadMark.READ %}{{ _("Unread") }}{% else %}{{ _("Read") }}{% endif %}</a>
				| <a href="#" data-action="mark_star">{% if entry.star_mark %}{{ _("Unstar") }}{% else %}{{ _("Star") }}{% endif %}</a>
				{% if entry.url %}
					| <a href="{{ entry.url }}">{{ _("Original content") }}</a>
				{% endif %}
				{% set url = entry.source.get_setting('web_url') or entry.source.get_setting('url') %}
				{% if url %}
					| <a href="{{ url | safe }}">🔗 {{ _("Website") }}</a>
				{% endif %}
			</div>
		</header>
		{% set content_type = entry.get_opt('content-type') %}
 		{% if entry.is_long_content() and mode == 'summary' %}
			<section>
				{{ entry.get_summary()|cleanup_html|safe }}
			</section>
			<footer><a href="{{ url_for("entry.entry", entry_id=entry.id) }}">{{ _("Read more…") }}</a><footer>
		{% elif entry.content %}
			<section>
			{% if content_type == 'markdown' %}
				{{ entry.content|format_markdown|safe }}
			{% elif content_type == 'preformated' %}
				<pre>{{ entry.content }}</pre>
			{% elif content_type == 'safe' %}
				{{ entry.content|safe }}
			{% elif content_type == 'plain' %}
				{{ entry.content }}
			{% else %}
				{{ entry.get_summary()|cleanup_html|safe }}
			{% endif %}
			</section>
		{% endif %}
	</article>
{%- endmacro %}
