<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Webmon2 {% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="_app_entry_mark_read_api" value="{{ url_for("entry.entry_mark_read_api") }}" />
		<meta name="_app_mark_star_api" value="{{ url_for("entry.entry_mark_star_api") }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" type="text/css" />
		{% block styles %}{% endblock %}
	</head>
	<body>
		<header id="main-header">
			<nav>
				<a href="{{ url_for("entries.entries_unread") }}">Entries</a>
				<a href="{{ url_for("entries.entries_starred") }}">Starred</a>
				<a href="{{ url_for("root.sources") }}">Sources</a>
				<a href="{{ url_for("root.groups") }}">Groups</a>
				<a href="{{ url_for("system.sett_index") }}">Settings</a>
				<a href="{{ url_for("sec.logout") }}">Logout</a>
			</nav>
		</header>
		<section id="flashes">
			{% for message in get_flashed_messages() %}
			<div class="flash" tabindex="999">{{ message }}</div>
			{% endfor %}
		</section>
		<section class="content">
			<header>
				{% block header %}{% endblock %}
			</header>
			{% block content %}{% endblock %}
			<footer>
				{% block footer %}{% endblock %}
			</footer>
		</section>
	</body>
		<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
	{% block scripts %}{% endblock %}
</html>
