{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}Entries{% endblock %} ({{ total_entries }})</h1>
	<nav>
		{% if max_id %}
		<a href="{{ url_for('entries.entries_mark_read', max_id=max_id, min_id=min_id) }}">Mark visible read</a>
		{% endif %}
		{% if showed == 'all' %}
		<a href="{{ url_for('entries.entries_unread') }}">Show unread only</a>
		{% else %}
		<a href="{{ url_for('entries.entries_all') }}">Show all</a>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	{% if not entries %}
		<p>No entries...</p>
	{% endif %}
	{% for entry in entries %}
		{{ re.render_entry(entry, 'summary') }}
	{% endfor %}
{% endblock %}

{% block footer %}
	<nav>
		{% if max_id %}
			<a href="{{ url_for('entries.entries_mark_read', max_id=max_id, min_id=min_id) }}">Mark visible read</a>
		{% endif %}
		{% if showed == 'all' %}
			{% if page > 0 %}
				<a href="{{ url_for('entries.entries_all', page=prev_page) }}">Prev page</a>
			{% endif %}
			{% if more %}
				<a href="{{ url_for('entries.entries_all', page=next_page) }}">Next page</a>
			{% endif %}
		{% endif %}
	</nav>
{% endblock footer %}
  </body>
</html>
