{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
<!DOCTYPE html>
<html>
  <body>


{% block header %}
	<h1>{% block title %}{{ _("Entries search") }}{% endblock %} {{ search_ctx }}</h1>
	<div class="actions">
		<form>
			<fieldset>
				<label>{{ _("Query:") }} </label>
				<input name="query" value="{{ query }}" required />
				<label>{{ _("Title only:") }} </label>
				<input type="checkbox" name="title-only" {% if title_only %} checked="checked" {% endif %} />
				<button type="submit">{{ _("Search") }}</button>
				<input type="hidden" name="group_id" value="{{ group_id }}" />
				<input type="hidden" name="source_id" value="{{ source_id }}" />
			</fieldset>
		</form>
	</div>
{% endblock %}

{% block content %}
	{% if query %}
		{% if error %}
			<p>{{ _("Error:") }} {{ error }}</p>
		{% elif not entries %}
			<p>{{ _("No entries...") }}</p>
		{% endif %}
		{% for entry in entries %}
			{{ re.render_entry(entry, 'summary', True) }}
		{% endfor %}
	{% endif %}
{% endblock %}

  </body>
</html>
