{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
<!DOCTYPE html>
<html>
  <body>

{% macro nav_bar() %}
	<nav class="row2">
		<span class="left">
		{% if prev_entry %}
			<a href="{{ url_for("entry.entry", entry_id=prev_entry) }}">← Prev</a>
		{% endif %}
		</span>
		<span class="right">
		{% if next_entry %}
			<a href="{{ url_for("entry.entry", entry_id=next_entry) }}">Next →</a>
		{% endif %}
		</span>
	</nav>
{% endmacro %}

{% block header %}
	<h1>{% block title %}Entry{% endblock %}</h1>
	{{ nav_bar() }}
{% endblock %}

{% block content %}
	{{ re.render_entry(entry, 'content', False) }}
{% endblock %}

{% block footer %}
	{{ nav_bar() }}
{% endblock footer %}
  </body>
</html>
