{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Source - add filter{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h1>New filter</h1>
	<p>Available filters:</p>
	<p>
		<ul>
			{% for name, short_info, long_info in filters_info %}
			<li><a href="{{ url_for("source.source_filter_edit", source_id=source_id, idx=-1, name=name) }}">{{ name }}</a><br/>
				{{ short_info }}
			</li>
			{% endfor %}
		</ul>
	</p>
	<p>
		<a href="{{ url_for("source.source_edit", source_id=source_id) }}">Back to source</a>
	</p>
{% endblock %}

  </body>
</html>
