{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Source{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if errors %}
		<p class="error">
			<b>Validation errors:</b>
			{% for field, err in errors.items() %}
			<br/>{{ err }}
			{% endfor %}
		<p>
	{% endif %}
	<h1>Filter {{ filter.name }}</h1>
	<p><blockquote>{{ fltr.long_info }}</blockquote></p>
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<p>
			<fieldset class="form-wrapper">
				<legend>Settings</legend>
				{% for field in form.fields %}
					{{ rf.render_field(field) }}
				{% endfor %}
			</fieldset>
		</p>
		<div class="row2">
			<span></span>
			<span class="right">
				<a href="{{ url_for("source.source_edit", source_id=source.id) }}">Back to source</a>
				<button type="submit">Save</button>
			</span>
		</div>
	</form>
{% endblock %}

  </body>
</html>
