{% extends 'base.html' %}
{% import '_render_source.html' as rs %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Groups{% endblock %}</h1>
  <nav>
	  <a href="{{ url_for("browser.sources_refresh")}}">Refresh all</a>
	  <a href="{{ url_for('browser.group_new') }}">New</a>
  </nav>
{% endblock %}

{% block content %}
	{% for group in groups %}
		<article>
			<header>
				<h4><a href="{{ url_for('browser.group_entries', group_id=group.id) }}">{{ group.name }}</a>
					{% if group.unread %}({{ group.unread }}){% endif %}
				</h4>
				<nav>
					<a href="{{ url_for('browser.refresh_group', group_id=group.id)}}">↺ Refresh</a>
					| <a href="{{ url_for('browser.group_mark_read', group_id=group.id)}}">✔︎ Mark read</a>
					| <a href="{{ url_for('browser.group_sources', group_id=group.id)}}">Sources</a>
					| <a href="{{ url_for('browser.group_edit', group_id=group.id)}}">✎ Edit</a>
				</nav>
			</header>
		</article>
	{% endfor %}
{% endblock %}

  </body>
</html>
