{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Group{% endblock %}</h1>
<style>
	input,textarea,select {width: 75%;}
	label {width: 20%; display: inline-block; vertical-align: top;}
</style>
{% endblock %}

{% block content %}
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<p>
			<label for="source-name">Name</label>
			<input type="text" name="name" id="source-name" required="required" value="{{ group.name or '' }}" />
		</p>
		<p>
			<label for="source-feed">Feed enabled</label>
			<input type="checkbox" name="feed_enabled" id="source-feed" {% if group.feed_enabled %}checked="checked"{% endif %} />
		</p>
		<p>
		<button type="submit">Save</button>
		&nbsp;
		&nbsp;
		<span><a href="{{ url_for('group.group_delete', group_id=group_id, delete_self=1) }}" data-req-confirm="yes" data-question="Realy delete group?">Delete</a></span>
		{% if request.args.get('back') %}
			&nbsp;&nbsp;<a href="{{ request.args['back'] }}" >Back</a>
		{% endif %}
		</p>
	</form>
{% endblock %}

  </body>
</html>
