{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}Entries in {{ group.name}}{% endblock %} ({{ total_entries }})</h1>
	<nav>
		{% if max_id %}
		<a href="{{ url_for('group.group_mark_read', group_id=group.id, max_id=max_id) }}">Mark read</a>
		<a href="{{ url_for('group.group_mark_read', group_id=group.id, max_id=max_id, go='next') }}">Mark read and go to next group</a>
		{% endif %}
		<a href="{{ url_for('group.refresh_group', group_id=group.id) }}">Refresh</a>
		{% if showed == 'all' %}
		<a href="{{ url_for('group.group_entries', group_id=group.id) }}">Show unread only</a>
		{% else %}
		<a href="{{ url_for('group.group_entries', group_id=group.id, mode='all') }}">Show all</a>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	{% if not entries %}
		<p>No entries...</p>
	{% endif %}
	{% for entry in entries %}
		{{ re.render_entry(entry, 'summary') }}
	{% endfor %}
{% endblock %}

{% block footer %}
	<nav>
		{% if max_id %}
		<a href="{{ url_for('group.group_mark_read', group_id=group.id, min_id=min_id, max_id=max_id) }}">Mark visible read</a>
		<a href="{{ url_for('group.group_mark_read', group_id=group.id, max_id=max_id, go='next') }}">Mark all read and go to next group</a>
		{% else %}
		<a href="{{ url_for('group.group_next_unread', group_id=group.id) }}">Go to next unread group</a>
		{% endif %}
		{% if showed == 'all' %}
			{% if page > 0 %}
				<a href="{{ url_for('group.group_entries', group_id=group.id, mode='all', page=prev_page) }}">Prev page</a>
			{% endif %}
			{% if more %}
				<a href="{{ url_for('group.group_entries', group_id=group.id, mode='all', page=next_page) }}">Next page</a>
			{% endif %}
		{% endif %}
	</nav>
{% endblock %}

  </body>
</html>
