{% extends 'base.html' %}
{% import '_render_source.html' as rs %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}Sources in group {{ group.name }} ({{ sources|length}}){% endblock %}</h1>
	<div class="actions">
		<a href="{{ url_for("group.refresh_group", group_id=group.id)}}">Refresh group</a>
		<a href="{{ url_for("source.source_new")}}">New source</a>
	</div>
{% endblock %}

{% block content %}
	<p>
		<form id="form">
			<label for="filter-state">Show:</label>
			<select id="form-status" name="status" value="{{ status }}">
				{{ rf.render_option("all", "All", status) }}
				{{ rf.render_option("active", "Active", status) }}
				{{ rf.render_option("disabled", "Disabled", status) }}
				{{ rf.render_option("notconf", "Not configured", status) }}
				{{ rf.render_option("error", "With errors", status) }}
				{{ rf.render_option("notupdated", "Not updated", status) }}
			</select>
		</form>
	</p>

	{% for source in sources %}
		{{ rs.render_source(source, webmon2) }}
	{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	(function() {
		document.getElementById("form-status").onchange = function() {
			document.getElementById("form").submit();
		};
	})();
</script>
{% endblock %}

  </body>
</html>
