{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
{% import '_render_nav.html' as rn %}
<!DOCTYPE html>
<html>
  <body>

{% macro nav_bar() %}
	{% if total_entries %}
		{{ rn.render_entres_nav(page, last_page,
			url_for('group.group_entries', group_id=group.id, mode=showed, page=prev_page),
			url_for('group.group_entries', group_id=group.id, mode=showed, page=next_page),
			url_for('group.group_entries', group_id=group.id, mode=showed, page=0),
			url_for('group.group_entries', group_id=group.id, mode=showed, page=last_page),
		) }}
	{% endif %}
{% endmacro %}

{% block header %}
	<h1>{% block title %}Entries in {{ group.name}}{% endblock %} ({{ total_entries }})</h1>
	<nav>
		{% if max_id %}
		<a href="{{ url_for('group.group_mark_read', group_id=group.id, min_id=min_id, max_id=max_id, mode=showed, page=page) }}">✔ Mark read</a>
		{% endif %}
		<a href="{{ url_for('group.refresh_group', group_id=group.id) }}">↺ Refresh</a>
		{% if showed == 'all' %}
		<a href="{{ url_for('group.group_entries', group_id=group.id, mode='unread') }}">⊙ Show unread only</a>
		{% else %}
		<a href="{{ url_for('group.group_entries', group_id=group.id, mode='all') }}">⊛ Show all</a>
		{% endif %}
		{{ nav_bar() }}
	</nav>
{% endblock %}

{% block content %}
	{% if not entries %}
		<p>No entries...</p>
		<p><a href="{{ url_for('group.group_next_unread', group_id=group.id) }}" class="right">→ Go to next unread group</a></p>
	{% endif %}
	{% for entry in entries %}
		{{ re.render_entry(entry, 'summary', True, url_for("group.group_entry", group_id=group.id, entry_id=entry.id, mode=(showed or 'unread'))) }}
	{% endfor %}
{% endblock %}

{% block footer %}
	<nav>
		{{ nav_bar() }}
		{% if max_id %}
		<p class="row">
			<a href="{{ url_for('group.group_mark_read', group_id=group.id, min_id=min_id, max_id=max_id) }}" class="right">✔  Mark visible read</a>
			<a href="{{ url_for('group.group_mark_read', group_id=group.id, min_id=0, max_id=-1, go='next') }}" class="right">➥ Mark all read and go to next group</a>
		</p>
		{% endif %}
	</nav>
{% endblock %}

  </body>
</html>
