{% extends 'base.html' %}
{% import '_render_source.html' as rs %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Sources{% endblock %}</h1>
  <div class="actions">
	  <a href="{{ url_for("root.sources_refresh")}}">↺ Refresh all</a>
	  <a href="{{ url_for("root.sources_refresh_err")}}">↺ Refresh sources with errors</a>
	  <a href="{{ url_for("source.source_new")}}">➕ New source</a>
  </div>
{% endblock %}

{% block content %}
	{% for source in sources %}
		{{ rs.render_source(source) }}
	{% endfor %}
{% endblock %}

  </body>
</html>
