{% extends 'base.html' %}
{% import '_render_entry.html' as re %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}Entries in {{ source.name }} ({{ total_entries }}){% endblock %}</h1>
	<nav>
		{% if max_id %}
		<a href="{{ url_for('source.source_mark_read', source_id=source.id, min_id=min_id, max_id=max_id) }}">Mark read</a>
		{% endif %}
		<a href="{{ url_for('source.source_refresh', source_id=source.id) }}">Refresh</a>
		<a href="{{ url_for('source.source_edit', source_id=source.id) }}">Edit</a>
		{% if showed == 'all' %}
		<a href="{{ url_for('source.source_entries', source_id=source.id) }}">Show unread only</a>
		{% else %}
		<a href="{{ url_for('source.source_entries', source_id=source.id, mode='all') }}">Show all</a>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	{% if not entries %}
		<p>No entries...</p>
	{% endif %}
	{% for entry in entries %}
		{{ re.render_entry(entry) }}
	{% endfor %}
{% endblock %}

{% block footer %}
	<nav>
		{% if max_id %}
		<a href="{{ url_for('source.source_mark_read', source_id=source.id, min_id=min_id, max_id=max_id) }}">Mark read</a>
		{% endif %}
		{% if showed == 'all' %}
			{% if page > 0 %}
				<a href="{{ url_for('source.source_entries', source_id=source.id, page=prev_page, mode='all') }}">Prev page</a>
			{% endif %}
			{% if more %}
				<a href="{{ url_for('source.source_entries', source_id=source.id, page=next_page, mode='all') }}">Next page</a>
			{% endif %}
		{% endif %}
	</nav>
{% endblock %}

  </body>
</html>
