{% extends 'base.html' %}
{% import '_render_source.html' as rs %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}{{ _("Sources") }}{% endblock %}</h1>
  <div class="actions">
	  <a href="{{ url_for("root.sources_refresh")}}">↺ {{ _("Refresh all") }}</a>
	  <a href="{{ url_for("root.sources_refresh_err")}}">↺ {{ _("Refresh sources with errors") }}</a>
	  <a href="{{ url_for("source.source_new")}}">➕ {{ _("New source") }}</a>
  </div>
{% endblock %}

{% block content %}
	<p>
		<form id="form">
			<label for="form-status">{{ _("Show") }}:</label>
			<select id="form-status" name="status" value="{{ status }}">
				{{ rf.render_option("all", _("All"), status) }}
				{{ rf.render_option("active", _("Active"), status) }}
				{{ rf.render_option("disabled", _("Disabled"), status) }}
				{{ rf.render_option("notconf", _("Not configured"), status) }}
				{{ rf.render_option("error", _("With errors"), status) }}
				{{ rf.render_option("notupdated", _("Not updated"), status) }}
			</select>
			<label for="form-order">{{ _("Order by:") }}</label>
			<select id="form-order" name="order" value="{{ order }}">
				{{ rf.render_option("name", _("Name") + " ▴", order) }}
				{{ rf.render_option("name_desc", _("Name") + " ▾", order) }}
				{{ rf.render_option("update", _("Last update") + " ▴", order) }}
				{{ rf.render_option("update_desc", _("Last update") + " ▾", order) }}
				{{ rf.render_option("next_update", _("Next update") + " ▴", order) }}
				{{ rf.render_option("next_update_desc", _("Next update") + " ▾", order) }}
			</select>
		</form>
	</p>

	{% for source in sources %}
		{{ rs.render_source(source, webmon2) }}
	{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	(function() {
		document.getElementById("form-status").onchange = function() {
			document.getElementById("form").submit();
		};
		document.getElementById("form-order").onchange = function() {
			document.getElementById("form").submit();
		};
	})();
</script>
{% endblock %}

  </body>
</html>
