{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}Source{% endblock %}</h1>
<style>
	input,textarea,select {width: 75%;}
	label {width: 20%; display: inline-block; vertical-align: top;}
</style>
{% endblock %}

{% block content %}
	{% if errors %}
		<p class="error">
			<b>Validation errors:</b>
			{% for field, err in errors.items() %}
			<br/>{{ err }}
			{% endfor %}
		<p>
	{% endif %}
	<form method="POST">
		<p>
			<label for="source-kind">Kind</label>
			<input type="text" id="source-kind" readonly="readonly" value="{{ source_def.short_info }}" />
		</p>
		<p><blockquote>{{ source_def.long_info }}</blockquote></p>
		<p>
			<label for="source-name">Name</label>
			<input type="text" name="name" id="source-name" value="{{ source.name }}" required="required" />
		</p>
		<p>
			<label for="source-group">Group</label>
			<select name="group_id" id="source-group" value="{{ source.group_id }}">
				{% for group in groups %}
				<option value="{{ group.id }}" {% if group.id == source.group_id %} selected="selected"{% endif %}>{{ group.name }}</option>
				{% endfor %}
			</select>
		</p>
		<p>
			<label for="source-interval">Interval</label>
			<input type="text" name="interval" id="source-interval" value="{{ source.interval or '' }}"/>
		</p>
		{% if source.settings %}
		<p>
			<fieldset>
				<legend>Settings</legend>
				{% for sett in source.settings %}
					{{ rf.render_field('sett', sett) }}
				{% endfor %}
			</fieldset>
		</p>
		{% endif %}
		<p>
			<button type="submit">Save</button>
			<button type="submit" value="edit_filters" name="next_action">Save and edit filters</button>
			&nbsp;
			&nbsp;
			<span><a href="{{ url_for('source.source_delete', source_id=source.id, delete_self=1) }}" data-req-confirm="yes" data-question="Realy delete source?">Delete</a></span>
		</p>
	</form>
{% endblock %}

  </body>
</html>
