{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}New source{% endblock %}</h1>
<style>
	input,textarea,select {width: 75%;}
	label {width: 20%; display: inline-block; vertical-align: top;}
</style>
{% endblock %}

{% block content %}
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<p>
			<label for="source-kind">Kind</label>
			<select name="kind" id="source-group" required="required" value="{{ kind }}">
				{% for name, short_info, _ in sources %}
				<option value="{{ name }}">{{ short_info }}</option>
				{% endfor %}
			</select>
		</p>
		<p>
			<label for="source-name">Name</label>
			<input type="text" name="name" id="source-name" required="required" value="{{ name }}" />
		</p>
		<button type="submit">Next</button>
		<a href="#" data-action="hist-back">Back</a>
	</form>
{% endblock %}

  </body>
</html>
