{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
	<h1>{% block title %}{{ _("Source") }} "{{ source.name }}" - {{ _("filters") }}{% endblock %}</h1>
{% endblock %}

{% block content %}
	<h1>{{ _("Filters") }}</h1>
	<p>
		<ul>
			{% for filter in filters %}
			<li>{{ filter.name }} <br/>
				<a href="{{ url_for("source.source_filter_move", source_id=source.id, idx=loop.index0, move="up") }}">{{ _("Move up") }}</a> |
				<a href="{{ url_for("source.source_filter_move", source_id=source.id, idx=loop.index0, move="down") }}">{{ _("Move down") }}</a> |
				<a href="{{ url_for("source.source_filter_edit", source_id=source.id, idx=loop.index0) }}">{{ _("Edit") }}</a> |
				<a href="{{ url_for("source.source_filter_delete", source_id=source.id, idx=loop.index0) }}">{{ _("Delete") }}</a>
			</li>
			{% endfor %}
		</ul>
	</p>
	<footer>
		<div class="actions">
			<a href="{{ url_for("source.source_edit", source_id=source.id) }}">{{ _("Back to source") }}</a>
			<a href="{{ url_for("source.source_filter_add", source_id=source.id) }}">{{ _("Add filter") }}</a>
		</div>
	</footer>
{% endblock %}

  </body>
</html>
