{% extends 'base.html' %}
{% import '_render_field.html' as rf %}
<!DOCTYPE html>
<html>
  <body>

{% block header %}
  <h1>{% block title %}filter{% endblock %}</h1>
{% endblock %}

{% block content %}
	{% if errors %}
		<p class="error">
			<b>Validation errors:</b>
			{% for field, err in errors.items() %}
			<br/>{{ err }}
			{% endfor %}
		<p>
	{% endif %}
	<form method="POST">
		<input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"/>
		<div class="form-wrapper">
			<label for="filter-name">Name</label>
			<input type="text" name="name" id="filter-name" value="{{ filter.name }}" readonly="readonly" />
		</div>
		<fieldset class="form-wrapper">
			<legend>Settings</legend>
			{% for sett in filter.settings %}
				{{ rf.render_field(sett) }}
			{% endfor %}
		</fieldset>
		<p class="row2">
			&nbsp;
			<button type="submit" class="right">Save</button>
		</p>
	</form>
{% endblock %}

  </body>
</html>
